extends layout

block content
  h1 Регистрация

  form(id="registerForm")
    div
      label Имя
      input(type="text" name="name" required)

    div
      label Email
      input(type="email" name="email" required)

    div
      label Пароль
      input(type="password" name="password" required)

    div
      label Organization ID
      input(type="number" name="organization_id" required)

    button(type="submit") Зарегистрироваться

  p#message

  script.
    const form = document.getElementById('registerForm');
    const message = document.getElementById('message');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const data = {
        name: form.name.value,
        email: form.email.value,
        password: form.password.value,
        organization_id: parseInt(form.organization_id.value),
        role: "user"
      };

      const res = await fetch('/api/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      const result = await res.json();

      if(res.ok){
      message.innerText = "Регистрация успешна! Перенаправление на логин...";
      setTimeout(()=>{
        window.location.href = "/auth/login";
      },1500);
    } else {
      message.innerText = result.message || "Ошибка регистрации";
    }
    });